body {
  background-color: #444;
  color:#fff;
  text-align:center;
  font-family:sans-serif;
}

.button-style{
  background-color: #444;
  color: #fff;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}
.operator_style{
  width: 25px;
  border-radius: 5px;
  text-align: center;
  margin-top: 5px;
  margin-inline: 5px;
}

